Flask==3.1.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.30
gunicorn==21.2.0
beautifulsoup4==4.12.3
deep-translator==1.11.4
scikit-learn==1.4.2
pandas==2.2.2
numpy==1.26.4
joblib==1.4.2
transformers==4.41.2
torch==2.2.2
accelerate==0.30.1
requests==2.31.0
Werkzeug==3.0.3
